body {
    background-color: #fefefe;
    color: black;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#profile_pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
}

h1, h2, h3 {
    color: #333;
    font-weight: 500;
}

.link-section a {
    color: #007bff;
    text-decoration: none;
}

.link-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.theme-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.theme-dot:hover {
	text-decoration: none;
	transition: all .2s ease-in-out;
	transform: scale(1.2);
    border: 2px solid rgb(0, 0, 0);
}

#light-mode { background-color: white; }
#blue-mode { background-color: #192734; }
#green-mode { background-color: #78866b; }
#purple-mode { background-color: #46344E; }
